p {
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0px;
}

.background {
    height: 2700px;
    width: 100%;
    background: linear-gradient(to bottom, #C1392D, #8D44AD);
}

.container {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
}

.info_box {
    padding-top: 160px;
    padding-left: 70px;
    float: left;
}

.name_txt {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-style: oblique;
    font-weight: bold;
}

.id_txt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    margin-left: 530px;
}

.email_txt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    margin-left: 155px;
}

.avatar_box {
    width: 250px;
    height: 250px;
    padding-top: 100px;
    float: right;
    padding-right: 70px;
}

.avatar_img {
    width: 100%;
    border-radius: 15%;
    box-shadow: 2px 2px 4px 3px rgba(119, 38, 47, 0.822);
}

.contact_box {
    width: 50px;
    height: 280px;
    position: fixed;
    background-color: thistle;
    border-radius: 25px;
    top: 75px;
    left: 1230px;
    padding: 10px 0px;
}

.icon_img {
    width: 40px;
    position: relative;
    margin: 5px 5px;
}

.icon_img:hover {
    box-shadow: 2px 2px 4px 2px gray;
}

#backtotop {
    position: fixed;
    width: 100px;
    top: 560px;
    left: 1210px;
}

.info_container {
    position: relative;
    padding-top: 300px;
}

#sidebar {
    position: absolute;
    height: 87%;
    width: 200px;
    padding-left: 25px;
    text-align: right;
    background-color: silver;
    color: dimgrey;
    top: 600px;
    left: 50px;
    font-family: candara, sans-serif;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.nav {
    display: block;
    position: relative;
    top: 120px;
    left: 310px;
    z-index: 1;
}
#ttcn_btn {
    position: absolute;
    border: 1px solid black;
    display: inline-block;
    width: 160px;
    height: 160px;
    text-align: center;
    vertical-align: text-bottom;
    border-radius: 130px;
    left: -150px;
}
#sp_btn {
    position: absolute;
    border: 1px solid black;
    border-radius: 130px;
    padding-top: 62px;
    padding-bottom: 62px;
    padding-left: 30px;
    padding-right: 24px;
    left: 50px;
}
#dh_btn {
    position: absolute;
    border: 1px solid black;
    display: inline-block;
    width: 160px;
    height: 160px;
    text-align: center;
    border-radius: 130px;
    left: 250px;
}
#st_btn {
    position: absolute;
    border: 1px solid black;
    border-radius: 130px;
    padding-top: 32px;
    padding-bottom: 55px;
    padding-left: 30px;
    padding-right: 24px;
    left: 450px;
}

a.navlink:link {
    background-color: lightgray;
    font-family: candara, sans-serif;
    text-decoration: none;
    color: dimgrey;
    font-weight: bold;
    font-size: 30px;
}

a.navlink:hover {
    background-color: whitesmoke;
}

a.navlink:visited {
    color: dimgrey;
}

#headline {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 180px;
}

#ttcn {
    padding-bottom: 850px;
}
#sp {
    padding-bottom: 320px;
}
#dh {
    padding-bottom: 130px;
}

#st {
    padding-bottom: 0px;
}

.content {
    font-family: candara, sans-serif;
    position: relative;
    top: 300px;
    left: 275px;
    font-size: 25px;
    background-color: lightgray;
    width: 760px;
    height: 100%;
    padding-top: 30px;
    margin: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ttcncontent {
    width: 100%;
}

.spcontent {
    width: 100%;
    padding-top: 50px;
}

.dhcontent {
    width: 100%;
    padding-top: 50px;
}

.stcontent {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 140px;
}

a.internallink:link {
    color: dimgrey;
    text-decoration: none;
}

a.internallink:visited {
    color: dimgrey;
    text-decoration: none;
}

a.internallink:hover {
    color: lightgrey;
}

a.internallink:active {
    color: darkgrey;
}

.footer {
    text-align: center;
    font-variant-caps: small-caps;
    position: absolute;
    font-size: 30px;
    width: 100%;
    top: 2560px;
    left: 155px;
}